<nav class="navbar navbar-inverse gdc-navbar">

  <div class="container">
    <div class="navbar-header gdc-navbar-header">
      <a class="navbar-brand gdc-navbar-a" href=""> <img
          class="gdc-navbar-icon" align="left"
          src="resources/core/images/logo_giphar.png" /> <span
          class="gdc-navbar-title"><%=sails.myconfig.app_name%></span>
      </a> <span class="gdc-navbar-version"><%=sails.myconfig.app_version%></span>
    </div>
  </div>
</nav>
